JWT_SECRET=Your_secret_key
JWT_ISSUER=Your_issuer
JWT_AUDIENCE=Your_audience

GOD_USERNAME=Your_username
GOD_EMAIL=Your_email
GOD_PASSWORD=Your_password

ADMIN_USERNAME=Your_username
ADMIN_EMAIL=Your_email
ADMIN_PASSWORD=Your_password

DOCTOR_PASSWORD=Your_password